src/Dropthings.DiggSilverlight/Service References/DropthingsProxyService/ProxyAsync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRss">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cacheDuration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRssResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRssResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cacheDuration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cacheDuration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRssSoapIn">
    <wsdl:part name="parameters" element="tns:GetRss" />
  </wsdl:message>
  <wsdl:message name="GetRssSoapOut">
    <wsdl:part name="parameters" element="tns:GetRssResponse" />
  </wsdl:message>
  <wsdl:message name="GetStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetString" />
  </wsdl:message>
  <wsdl:message name="GetStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetXml" />
  </wsdl:message>
  <wsdl:message name="GetXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="ProxyAsyncSoap">
    <wsdl:operation name="GetRss">
      <wsdl:input message="tns:GetRssSoapIn" />
      <wsdl:output message="tns:GetRssSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <wsdl:input message="tns:GetStringSoapIn" />
      <wsdl:output message="tns:GetStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <wsdl:input message="tns:GetXmlSoapIn" />
      <wsdl:output message="tns:GetXmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProxyAsyncSoap" type="tns:ProxyAsyncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRss">
      <soap:operation soapAction="http://tempuri.org/GetRss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <soap:operation soapAction="http://tempuri.org/GetString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <soap:operation soapAction="http://tempuri.org/GetXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProxyAsyncSoap12" type="tns:ProxyAsyncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRss">
      <soap12:operation soapAction="http://tempuri.org/GetRss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <soap12:operation soapAction="http://tempuri.org/GetString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <soap12:operation soapAction="http://tempuri.org/GetXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyAsync">
    <wsdl:port name="ProxyAsyncSoap" binding="tns:ProxyAsyncSoap">
      <soap:address location="http://localhost:8000/Dropthings/ProxyAsync.asmx" />
    </wsdl:port>
    <wsdl:port name="ProxyAsyncSoap12" binding="tns:ProxyAsyncSoap12">
      <soap12:address location="http://localhost:8000/Dropthings/ProxyAsync.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>