src/Dropthings.DiggSilverlight/Service References/DropthingsWidgetService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://dropthings.omaralzabir.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WidgetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://dropthings.omaralzabir.com" location="" />
  <wsdl:types />
  <wsdl:binding name="WebHttpBinding_WidgetService" type="i0:WidgetService">
    <wsdl:operation name="AddWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ChangeWidgetTitle">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CollaspeWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ExpandWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetWidgetState">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MaximizeWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MoveWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ResizeWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RestoreWidgetInstance">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SaveWidgetState">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_WidgetService" type="i0:WidgetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/AddWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeWidgetTitle">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/ChangeWidgetTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollaspeWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/CollaspeWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/DeleteWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpandWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/ExpandWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWidgetState">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/GetWidgetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaximizeWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/MaximizeWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/MoveWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResizeWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/ResizeWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreWidgetInstance">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/RestoreWidgetInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWidgetState">
      <soap:operation soapAction="http://dropthings.omaralzabir.com/WidgetService/SaveWidgetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WidgetService">
    <wsdl:port name="WebHttpBinding_WidgetService" binding="tns:WebHttpBinding_WidgetService" />
    <wsdl:port name="WebHttpBinding_WidgetService1" binding="tns:WebHttpBinding_WidgetService" />
    <wsdl:port name="BasicHttpBinding_WidgetService" binding="tns:BasicHttpBinding_WidgetService">
      <soap:address location="http://localhost:8000/Dropthings/API/Widget.svc/pox" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>